<div class="panel panel-default" ng-controller="addAccountController as addCtrl">
	    <div class="panel-heading">New Account Page</div>
	    <div class="panel-body">
	    <div>
   		<label>
       First name:
       <input  type="text" name="first_name" id = "accountFname" ng-model="addCtrl.currentFirstName" required>
       </div>
    </label>
    <div>
    <label>
       Second name:
       <input  type="text" name="second_name" id = "accountSname" ng-model="addCtrl.currentSecondName" required >
       </div>
    </label>
    <div>
    <label>
       Account Number:
       <input  type="text" name="account_num" id = "accountNum" ng-model="addCtrl.accNumber" required>
    </label>
    </div>
    <div>
    <button type="button" class="btn btn-danger" ng-click="addCtrl.init()">Create Account
    </div>
	</div>
</div>