@charset "ISO-8859-1";
.progress {
    height: 10px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-bottom: 0px !important; 
}

.material-icons.redWarrning { color: #ff0000; }

.material-icons.greenDone { color: #00ff00; }

input {max-width:60% !important;}

.form-control{display:inline !important;}

label{display: block !important;}